# Virtuelle Environments
venv/
.venv/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Rohdaten im Wurzelverzeichnis ausschließen (zu groß / nicht redistributierbar)
/data/

# Office-Temp-Files
~$*

# Streamlit Cache
.streamlit/

# Persönliche Notizen / Chatverlauf
docs/