# Virtuelle Environments
venv/
.venv/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Daten (zu groß / nicht redistributierbar)
data/
*.csv

# Aber: kleine aggregierte CSVs für die Streamlit-App ZULASSEN
!streamlit_app/data/*.csv

# Office-Temp-Files
~$*

# Streamlit Cache
.streamlit/